#map-header {
  position: fixed;
  background-color: #ffffff99;

  min-width: 90%;
  padding: 1rem;
  margin-left: 5%;
  margin-top: 1%;
  border-radius: .5rem;
  z-index: 1;

  display: flex;
  flex-direction: center;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.map-search {
  background-color: transparent;
  flex-grow: 1;
  display: flex;
  flex-direction: center;
  justify-content: space-between;
  align-items: center;

  border: none;
  border-radius: .2rem;
  padding: .5rem;
}

.map-search:active {
  border: 1px solid #000000;
}
