@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Merriweather Sans', sans-serif;
  color: #102021;
}

body>#root {
  background-color: #A0F9FF;

  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  max-width: 100%;
}

a {
  text-decoration: none;
}

main {
  flex-grow: 1;
  height: 100%;
  width: 100%;
}
